@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
    --my-blue: #00d2ff;
}

h, h1, h2, h3, h4, p, button, a, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    max-width: 1170px;
    margin: auto;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header {
    background: linear-gradient(to bottom,  rgba(255 ,255, 255, 0) 60%,rgba(255, 255, 255, 1) 100%);
}

.header .title {
    font-family: 'Playfair Display', sans-serif;
    margin-top: 160px;
}

.header .title h2 {
    font-family: inherit;
    font-size: 50px;
}

.header .title h3 {
    font-size: 24px;
    font-family: inherit;
    text-align: center;
    color: white;
}

.bg-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.link {
    color: black;
    text-decoration: none;
}

.link:hover {
    background-color: var(--my-blue);
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/**************************
Header
*************************/

.header {
    position: relative;
}

.header .wrapper {
    margin-top: 32px;
    margin-bottom: 256px;
}

.logo {
    font-size: 24px;
    min-width: fit-content;
}

.header .container {
    align-items: flex-end;
}

.header .nav {
    max-width: 570px;
}

.header .nav-items {
    list-style-type: none;
    margin-bottom: 3px;
}

.header .top-area {
    justify-content: space-between;
}

.header .nav .link {
    font-weight: bold;
    text-transform: uppercase;
}

.contact {
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 50%;
}

.header .sls {
    max-width: 128px;
}

.icon-img {
    margin: 30% 30%;
    width: 40%;
    height: 40%;
}

/**************************
Boards
*************************/

.board {
    position: relative;
    max-width: 1030px;
    height: 600px;
    background-color: white;
    margin-top: -128px;
    overflow: hidden;
    --border-color: rgba(0.2, 0.2, 0.2, 0.25);
    box-shadow: -8px -8px 8px var(--border-color), 8px 8px 8px var(--border-color);
}
/*TODO: Need to add the triangle*/
.board-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: -80%;
    transform: skewX(-45deg);
    background-color: var(--my-blue);
}

.board .wrapper {
    justify-content: space-between;
}

.board-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.img-selector {
    margin-right: 2%;
    width: fit-content;
    justify-content: space-between;
    flex-direction: row-reverse;

    --selector-size: 64px;
}

.img-selector .selector {
    width: var(--selector-size);
    height: var(--selector-size);
    border: solid 4px black;
}

.img-selector .selectors {
    justify-content: space-between;
    height: calc(var(--selector-size) * 5 - 16px);
}

.img-selector .selector.active {
    border-color: var(--my-blue);
}

.board .img-selector {
    height: 100%;
}

.boards .wrapper {
    justify-content: center;
}

.board-info {
    height: 100%;
    max-width: 45%;
    justify-content: flex-start;
    align-self: flex-end;
    align-items: flex-start;
}

.board .board-name {
    font-size: 20px;
    margin: 5% auto 2% auto;
}

.board .count {
    font-weight: bold;
    color: gray;
    font-size: 12px;
}

.board .date {
    background-color: black;
    color: white;
    width: 4em;
    height: 2em;
    justify-content: center;
}

.board-info .rate {
    margin: 5% auto 5% auto;
}

.board .text-selector {
    max-width: 80%;
}

.text-selector .text {
    font-size: 16px;
    font-family: 'Raleway';
}

.text-selector .selector {
    padding-right: 16px;
    border-bottom: solid 2px black;
}

.text-selector .selector.active {
    border-color: var(--my-blue);
}

.text-selector .selectors {
    justify-content: stretch;
    margin-bottom: 5%;
    text-transform: uppercase;
}

.selector:hover {
    cursor: grab;
}

.board .buy {
    margin-top: 8%;
}

.board .price {
    font-size: 24px;
    font-weight: bold;
}

.board .buy {
    max-width: 256px;
}

.button {
    width: 140px;
    height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: none;
    background-color: var(--my-blue);
}

.view-more {
    font-weight: bold;
    font-size: 18px;
    color: var(--my-blue);
    margin-top: 98px;
    position: relative;
    text-decoration: none;
}

.view-more::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;    
    width: 100%;
    height: 2px;
    background-color: var(--my-blue);
}

/**************************
About
*************************/

.about .bg-img {
    height: 90%;
}

.about {
    position: relative;
    margin-top: 200px;
    width: 100%;
    height: 640px;
}

.about .container {
    max-width: unset;
}

.about .wrapper {
    justify-content: flex-start;
    margin: 256px 5% auto 0;
}

.about .text {
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    font-size: 22px;
}


.about .article {
    padding: 0 64px 0 256px;
    align-items: center;
    max-width: 340px;
    background-color: white;
}

.about .title {
    margin: 32px auto 32px auto;
    font-size: 18px;
    text-transform: uppercase;
}

.about .view-more {
    margin-top: 32px;
    font-size: 12px;
    align-self: flex-start;
    margin-bottom: 32px;
}

.video {
    width: 500px;
    height: 300px;
    background-color: red;
    align-self: flex-end;
    margin-left: 128px;
}

/**************************
People
*************************/

.people {
    width: 100%;
    margin-top: 128px;
}

.people .container {
    justify-content: center;
    height: 586px;
}

.people .wrapper {
    justify-content: center;
    width: 80%;
}

.people .list {
    margin: 0 32px;
    justify-content: center;
    width: fit-content;
}

.human .avatar{
    width: 100px;
    height: 100px;
}

.human {
    font-family: 'Raleway',  sans-serif;
    font-size: 14px;
    width: 240px;
    box-shadow: 0 0 16px rgba(128, 128, 128, 0.2);
}

.people .list > *:nth-child(even){
    margin-top: 32px;
}

.human .hr-wave {
    margin: 16px auto 16px auto;
}

.human .name {
    font-size: 18px;
    color: var(--my-blue);
}

.arrow {
    min-width: 48px;
    min-height: 48px;
    border-radius: 50%;
    box-shadow: 0 0 10px gray;
}

.arrow:hover {
    cursor: grab;
}

.arrow img {
    margin: auto;
}

.arrow.right {
    transform: rotate(180deg);
}

/**************************
Updates
*************************/

.updates .h2 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 64px;
}

.updates > * {

}

.update {
    max-width: 200px;
    text-decoration: none;
    color: black;
}

.update figcaption {
    margin-top: 16px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    max-width: 90%;
    color: inherit;
}

.update:hover {
    color: var(--my-blue);
}

.update-img {
    max-width: 200px;
    max-height: 200px;
}

.updates .button {
    margin-top: 32px;
}

.updates .list {
    max-width: 880px;
}